<%= form_for(@bulletin_board) do |f| %>
  <% if @bulletin_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bulletin_board.errors.count, "error") %> prohibited this bulletin_board from being saved:</h2>

      <ul>
      <% @bulletin_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :post ,'message'%><br>
    <%= f.text_area :post %>
  </div>
  <div class="actions">
    <%= f.submit "post message to bulletin board" %>
  </div>
<% end %>
