
<h1>your current products are</h1>
<table>
	 <thread>
	 	<tr>
	 <th>product</th>
	 <th>quantity</th>
	 <th>price</th>
	 <th>option</th>
	   <th colspan="4"></th>
    </tr>
	</thread>

<tbody>
	  <% @arr = Array.new %>
 <% @mycart.each do |item| %><br/>

      <tr>
        <td><%=item.product.title%></td>
         <td><%=item.quantity %> </td>
       <% @arr << item.product.price * item.quantity %>
        <td><%=number_to_currency(item.product.price * item.quantity) %></td>
       <td><%= link_to 'remove',mycart_delete_path(:item_id => item.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <table>
 <% $sum = @arr.sum %>
      <tr class="total_line">

      <td colspan="2">Total</td> &nbsp; 

      <td class="total_cell"><%= number_to_currency($sum) %></td>

     </tr>

 </table>

 <%= link_to 'continu_shopping', '/' %>