<%= form_for(@my_life) do |f| %>
  <% if @my_life.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_life.errors.count, "error") %> prohibited this my_life from being saved:</h2>

      <ul>
      <% @my_life.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :about_me %><br>
    <%= f.text_area :about_me %>
  </div>
  <div class="actions">
    <%= f.submit "next" %>
    
</div>
<% end %>
