
<h1>Tables in <%=@d %> database </h1>
<ol>
<% @res.each do |m| %>
<li><a href = "/action2?tb_name=<%=m.values.first %>"><%=m.values.first %></li><br>
<% end %>
</ol>
<strong>if u want to drop table click here</strong>
<ol>
<% @res.each do |n| %>
<li><a href = "/drop_table?tb_name=<%=n.values.first %>"><%=n.values.first %></li><br>
<% end %>
</ol>
