 <p id="notice"><%= notice %></p>

<p>
  <strong>Conisiderate:</strong>
  <%= @quality.conisiderate %>
</p>

<p>
  <strong>Boisterous:</strong>
  <%= @quality.boisterous %>
</p>

<p>
  <strong>Wise:</strong>
  <%= @quality.wise %>
</p>

<p>
  <strong>Relaxed:</strong>
  <%= @quality.relaxed %>
</p>

<p>
  <strong>Forward looking:</strong>
  <%= @quality.forward_looking %>
</p>

<p>
  <strong>Intense:</strong>
  <%= @quality.intense %>
</p>

<p>
  <strong>Indecisive:</strong>
  <%= @quality.indecisive %>
</p>

<p>
  <strong>Strong:</strong>
  <%= @quality.strong %>
</p>

<p>
  <strong>Grounded:</strong>
  <%= @quality.grounded %>
</p>

<p>
  <strong>Emotional:</strong>
  <%= @quality.emotional %>
</p>

<p>
  <strong>Demonstrative:</strong>
  <%= @quality.demonstrative %>
</p>

<p>
  <strong>Wity:</strong>
  <%= @quality.wity %>
</p>

<p>
  <strong>Unaffected:</strong>
  <%= @quality.unaffected %>
</p>

<p>
  <strong>Inscrutable:</strong>
  <%= @quality.inscrutable %>
</p>

<p>
  <strong>Mercurial:</strong>
  <%= @quality.mercurial %>
</p>

<p>
  <strong>User:</strong>
  <%= @quality.user %>
</p>

<%= link_to 'Edit', edit_quality_path(@quality) %> |
<%= link_to 'Back', qualities_path %>
